<script setup lang="ts">
  import {onMounted, onUnmounted, ref} from "vue";
  import router from "@/router";
  import Pagination from "@/components/Pagination.vue";
  import {ElMessage, ElMessageBox, type FormInstance, useLocale} from "element-plus";
  import {Delete, Download, Lock, Plus, RefreshLeft, Search, Unlock} from "@element-plus/icons-vue";
  import {objectAssign, tryCatch} from "@/public/utils.ts";
#if (${genAdd} == true || ${genSet} == true)
  import {EventBus, EventMsg} from "@/public/event.ts";
#end
  import NetApi from "@/public/NetApi.ts";
  import {AdminPower} from "@/hbuf/power.enum";
  import {List${dataName}, ${dataName}} from "@/hbuf/${goPackage}.data";
  import {Status} from "@/hbuf/public.enum";
  import {type ${util.upperFirst(${goPackage})}Manage, ${util.upperFirst(${goPackage})}ManageClient} from "@/hbuf/${goPackage}.manage.server.ts";
  import {MgDel${dataName}Req, MgExport${dataName}Req,MgList${dataName}Req, MgStatus${dataName}Req} from "@/hbuf/${goPackage}.manage.data.ts";
  import {${dataName}TableColumn} from "@/hbuf/${goPackage}.ui.tsx";
  import {MgList${dataName}ReqFormItems} from "@/hbuf/${goPackage}.manage.ui.tsx";
  import TableColumnSetting from "@/components/TableColumnSetting.vue";
  import SearchLayout from "@/components/SearchLayout.vue";

  const ${goPackage}Api: ${util.upperFirst(${goPackage})}Manage = new ${util.upperFirst(${goPackage})}ManageClient(NetApi.instance.client)
  const locale = useLocale()
  const queryFormRef = ref<FormInstance>()
  const query = ref<MgList${dataName}Req>(new MgList${dataName}Req())
  const ${dataName}List = ref<${dataName}[]>([])
  const total = ref<number>(0)
  const selection = ref<${dataName}[]>([])
  const settingRef = ref<InstanceType<typeof TableColumnSetting> | null>(null);

#if (${genAdd} == true || ${genSet} == true)
  onMounted(() => {
    EventBus.$on(EventMsg.refresh${dataName}List, searchForm);
  })

  onUnmounted(() => {
    EventBus.$off(EventMsg.refresh${dataName}List, searchForm);
  })
#end
  query.value.orderDesc = "${util.lowerFirst(${util.underlineToCamel(${dbIndex})})}"

  const searchForm = () => {
    tryCatch({}, async () => {
      query.value.showFields = ${dataName}.$convertField(["${util.lowerFirst(${util.underlineToCamel(${dbIndex})})}", ...(settingRef.value?.showFields() ?? [])]);
      const resp = await ${goPackage}Api.mgList${dataName}(query.value)
      ${dataName}List.value = resp.list
      total.value = resp.total
    });
  }

  const resetForm = (ref: FormInstance | undefined) => {
    ref?.resetFields()
    searchForm()
  }

  const handleSelection = (list: ${dataName}[]) => {
    selection.value = list
  }

#if (${genStatus} == true)
  const handleEditStatus = async (status: Status) => {
    await tryCatch({}, () => {
      let req = new MgStatus${dataName}Req();
      req.status = status
      req.${util.lowerFirst(${util.underlineToCamel(${dbIndex})})}s = selection.value.map<bigint>((value) => value.${util.lowerFirst(${util.underlineToCamel(${dbIndex})})}!)
      return ${goPackage}Api.mgStatus${dataName}(req)
    });
    selection.value.forEach((value) => value.status = status)
    ElMessage.success(locale.t("public.modifiedSuccessfully"))
  }
#end

#if (${genDel} == true)
  const handleDelete = async () => {
    await ElMessageBox.confirm(locale.t('public.deleteConfirm', {name: locale.t('public.selectedItem')})).catch(() => null)

    await tryCatch({}, () => {
      let req = new MgDel${dataName}Req();
      req.${util.lowerFirst(${util.underlineToCamel(${dbIndex})})}s = selection.value.map<bigint>((value) => value.${util.lowerFirst(${util.underlineToCamel(${dbIndex})})}!)
      return ${goPackage}Api.mgDel${dataName}(req)
    });
    searchForm()
    ElMessage.success(locale.t("public.deleteSuccessfully"))
  }
#end

#if (${genGet} == true)
  const handleInfo = (info: ${dataName}) => {
    router.push({
      name: "nav.${util.lowerFirst(${dataName})}.get",
      params: {
        id: info.${util.lowerFirst(${util.underlineToCamel(${dbIndex})})}!.toString(),
        name: info.name?.toString() ?? info.${util.lowerFirst(${util.underlineToCamel(${dbIndex})})}!.toString(),
      },
    })
  }
#end

#if (${genExport} == true)
  const handleExport = async (zoneOffset: number) => {
    await tryCatch({}, () => {
      const req = objectAssign(new MgExport${dataName}Req(), query.value);
      req.${util.lowerFirst(${util.underlineToCamel(${dbIndex})})}s = selection.value.map<bigint>((value) => value.${util.lowerFirst(${util.underlineToCamel(${dbIndex})})}!)
      req.zoneOffset = zoneOffset
      return ${goPackage}Api.mgExport${dataName}(req)
    });
    ElMessage.success(locale.t("public.exportSuccessfully"))
  }
#end

#if (${genAdd} == true)
  const handleNewAdd = () => {
    router.push({
      name: "nav.${util.lowerFirst(${dataName})}.get",
      params: {
        id: "create",
        name: "New",
      },
    })
  }
#end
</script>

<template>
  <section class="app-list-page">
    <search-layout>
      <el-form :model="query as List${dataName}" ref="queryFormRef" inline>
        <mg-list-${util.camelToMiddleLine(${dataName}).toLowerCase()}-req-form-items :model="query">
        </mg-list-${util.camelToMiddleLine(${dataName}).toLowerCase()}-req-form-items>
        <el-form-item>
          <el-tooltip :content="$t('public.searchTips')">
            <el-button type="primary" @click="searchForm()" :icon="Search"/>
          </el-tooltip>
          <el-tooltip :content="$t('public.resetTips')">
            <el-button @click="resetForm(queryFormRef)" :icon="RefreshLeft"/>
          </el-tooltip>
        </el-form-item>
      </el-form>
    </search-layout>
    <div class="app-list-page-button">
      <table-column-setting ref="settingRef"/>

#if (${genStatus} == true)
      <el-button-group v-power="[AdminPower.STATUS${util.camelToUnderline(${dataName}).toUpperCase()}]">
        <el-button type="warning" plain :icon="Lock" size="small" @click="handleEditStatus(Status.DISABLE)"
                   :disabled="selection.length==0">
          {{ $t('public.disabled') }}
        </el-button>
        <el-button type="warning" plain :icon="Unlock" size="small" @click="handleEditStatus(Status.ENABLE)"
                   :disabled="selection.length==0">
          {{ $t('public.enabled') }}
        </el-button>
      </el-button-group>
#end
#if (${genDel} == true)
      <el-button v-power="[AdminPower.DEL${util.camelToUnderline(${dataName}).toUpperCase()}]" type="danger" plain :icon="Delete" size="small"
                 @click="handleDelete()" :disabled="selection.length==0">
        {{ $t('public.delete') }}
      </el-button>
#end
#if (${genExport} == true)
      <el-button v-power="[AdminPower.EXPORT${util.camelToUnderline(${dataName}).toUpperCase()}]" type="success" plain :icon="Download" size="small"
                 @click="handleExport($getTimezoneOffset())">
        {{ $t('public.export') }}
      </el-button>
#end
#if (${genAdd} == true)
      <el-button v-power="[AdminPower.ADD${util.camelToUnderline(${dataName}).toUpperCase()}]" class="right-button" type="primary" :icon="Plus"
                 size="small" @click="handleNewAdd()">
        {{ $t('public.newAdd') }}
      </el-button>
#end
    </div>

    <el-table :data="${dataName}List" @selection-change="handleSelection" stripe fit>
      <el-table-column fixed="left" type="selection" width="30"/>
      <el-table-column fixed="left" type="index" width="50"/>
      <${util.camelToMiddleLine(${dataName}).toLowerCase()}-table-column  :setting="settingRef?.onSetting">
      </${util.camelToMiddleLine(${dataName}).toLowerCase()}-table-column>
      <el-table-column fixed="right" :label="$t('public.operations')" width="122">
        <template #default="scope">
#if (${genGet} == true || ${genSet} == true)
          <span
#if (${genGet} == true)
                  v-power="[AdminPower.GET${util.camelToUnderline(${dataName}).toUpperCase()}]"
#elseif (${genGet} == true)
                  v-power="[AdminPower.SET${util.camelToUnderline(${dataName}).toUpperCase()}]"
#else
                  v-power="[AdminPower.GET${util.camelToUnderline(${dataName}).toUpperCase()},AdminPower.SET${util.camelToUnderline(${dataName}).toUpperCase()}]"
#end
          >
            <el-tooltip :content="$t('public.infoTips')">
              <el-button link type="primary" size="small" @click="handleInfo(scope.row)">
                {{ $t('public.info') }}
              </el-button>
            </el-tooltip>
          </span>
#end
        </template>
      </el-table-column>
    </el-table>
    <pagination :page="query" :total="total" @search="searchForm()"/>
  </section>
</template>

<style scoped>

</style>
