<script lang="ts" setup>
  import Long from "long";
  import {ref} from "vue";
  import {goBack, router} from "@/router";
  import type {FormInstance} from "element-plus";
  import {ElMessage, useLocale} from "element-plus";
  import {power} from "@/stores/counter";
  import {NetApi} from "@/public/NetApi";
  import {EventMsg} from "@/public/event";
  import {EventBus, tryCatch} from "@/public/utils";
  import {AdminPower} from "@/hbuf/power.enum";
  import {MerchantInfo} from "@/hbuf/merchant.data";
  import {MerchantInfoFormItems} from "@/hbuf/merchant.ui";
  import {
    MgAddMerchantInfoReq,
    MgEditMerchantInfoReq,
    MgGetMerchantInfoReq,
    MgInitMerchantInfoReq
  } from "@/hbuf/merchant.manage.data";

  const locale = useLocale()
  const formRef = ref<FormInstance>()
  const form = ref<MerchantInfo>(new MerchantInfo())
  let initValue: MerchantInfo | null
  let token: string | null = null
  let isAdd = false
  const init = () => {
    const current = router.currentRoute.value.params
    isAdd = current.id == "create" && current.name == "New"
    if (isAdd) {
      tryCatch({}, async () => {
        const resp = await NetApi.instance.merchant.mgInitMerchantInfo(new MgInitMerchantInfoReq())
        form.value = (initValue = resp.info!).clone()
        token = resp.token
      })
    } else {
      let req = new MgGetMerchantInfoReq();
      req.merchantId = Long.fromString(current.id as string)
      tryCatch({}, async () => {
        const resp = await NetApi.instance.merchant.mgGetMerchantInfo(req)
        form.value = (initValue = resp.info!).clone()
      })
    }
  }
  init()

  const handleAdd = async (ref?: FormInstance) => {
    if (!await ref!.validate()) return
    await tryCatch({}, async () => {
      const req = new MgAddMerchantInfoReq()
      req.info = form.value
      await NetApi.instance.merchant.mgAddMerchantInfo(req)
    })
    ElMessage.success(locale.t("public.addSuccessfully"))
    EventBus.$emit(EventMsg.refreshMerchantList)
    goBack()
  }

  const handleSave = async (ref?: FormInstance) => {
    if (!await ref!.validate()) return
    await tryCatch({}, async () => {
      const req = new MgEditMerchantInfoReq()
      req.info = form.value
      await NetApi.instance.merchant.mgEditMerchantInfo(req)
    })
    ElMessage.success(locale.t("public.modifiedSuccessfully"))
    EventBus.$emit(EventMsg.refreshMerchantList)
    goBack()
  }

  const handleReset = (ref?: FormInstance) => {
    form.value = initValue!.clone()
  }

</script>

<template>
  <el-scrollbar class="app-form-page">
    <el-form ref="formRef" :disabled="!power([AdminPower.MERCHANT_ADD,AdminPower.MERCHANT_INFO])" :model="form"
             label-width="auto">
      <merchant-info-form-items :model="form"/>
      <el-affix :offset="26" position="bottom">
        <el-form-item label=" ">
          <el-button v-if="isAdd" v-power="[AdminPower.MERCHANT_ADD]" type="primary" @click="handleAdd(formRef)">{{
            $t('public.create')
            }}
          </el-button>
          <el-button v-if="!isAdd" v-power="[AdminPower.MERCHANT_EDIT]" type="primary" @click="handleSave(formRef)">{{
            $t('public.save')
            }}
          </el-button>
          <el-button v-power="[AdminPower.MERCHANT_ADD,AdminPower.MERCHANT_INFO]" @click="handleReset(formRef)">
            {{ $t('public.reset') }}
          </el-button>
        </el-form-item>
      </el-affix>
    </el-form>
  </el-scrollbar>
</template>

<style scoped>
  .el-form {
    padding: 16px;
  }
</style>
