server ${util.upperFirst(${goPackage})}Manage {
#if (${genList} == true)
#if(${comment})
    //获得${comment}列表
#end
    [tag:auth="manageApi"; power="AdminPower.list${dataName}"]
    [bind:value="${util.upperFirst(${goPackage})}Server.List${dataName}"]
    MgList${dataName}Resp MgList${dataName}(MgList${dataName}Req req) = 1
#end

#if (${genAdd} == true)
#if(${comment})
    //添加${comment}
#end
    [tag:auth="manageApi"; power="AdminPower.add${dataName}"; log="添加${comment}"]
    [bind:value="${util.upperFirst(${goPackage})}Server.Add${dataName}"]
    MgAdd${dataName}Resp MgAdd${dataName}(MgAdd${dataName}Req req) = 2
#end

#if (${genGet} == true)
#if(${comment})
    //获得${comment}
#end
    [tag:auth="manageApi"; power="AdminPower.get${dataName}", "AdminPower.get${dataName}"]
    [bind:value="${util.upperFirst(${goPackage})}Server.Get${dataName}"]
    MgGet${dataName}Resp MgGet${dataName}(MgGet${dataName}Req req) = 3
#end

#if (${genSet} == true)
#if(${comment})
    //修改${comment}
#end
    [tag:auth="manageApi"; power="AdminPower.set${dataName}"; log="修改${comment}"]
    [bind:value="${util.upperFirst(${goPackage})}Server.Set${dataName}"]
    MgSet${dataName}Resp MgSet${dataName}(MgSet${dataName}Req req) = 4
#end

#if (${genDel} == true)
#if(${comment})
    //删除${comment}
#end
    [tag:auth="manageApi"; power="AdminPower.del${dataName}"; log="删除${comment}"]
    [bind:value="${util.upperFirst(${goPackage})}Server.Del${dataName}"]
    MgDel${dataName}Resp MgDel${dataName}(MgDel${dataName}Req req) = 5
#end

#if (${genStatus} == true)
#if(${comment})
    //修改${comment}状态
#end
    [tag:auth="manageApi"; power="AdminPower.status${dataName}"; log="修改${comment}状态"]
    [bind:value="${util.upperFirst(${goPackage})}Server.Status${dataName}"]
    MgStatus${dataName}Resp MgStatus${dataName}(MgStatus${dataName}Req req) = 6
#end

#if (${genExport} == true)
#if(${comment})
    //导出${comment}
#end
    [tag:auth="manageApi"; power="AdminPower.export${dataName}"; log="导出${comment}"]
    MgExport${dataName}Resp MgExport${dataName}(MgExport${dataName}Req req) = 7
#end


#if (${genAdd} == true)
#if(${comment})
    //获取${comment}初始化数据
#end
    [tag:auth="manageApi"; power="AdminPower.add${dataName}"]
    MgInit${dataName}Resp MgInit${dataName}(MgInit${dataName}Req req) = 8
#end

}
#if (${genAdd} == true)
#if(${comment})
//获取${comment}初始化数据请求体
#end
[verify:]
data MgInit${dataName}Req {
}

#if(${comment})
//获取${comment}初始化数据响应体
#end
data MgInit${dataName}Resp {
    string token = 1

    ${dataName} info = 2
}
#end

#if (${genExport} == true)
#if(${comment})
//导出${comment}请求体
#end
[verify:]
data MgExport${dataName}Req:Export${dataName}Req = 1  {
}

#if(${comment})
//导出${comment}响应体
#end
data MgExport${dataName}Resp:Export${dataName}Resp = 1  {
}
#end

#if (${genStatus} == true)
#if(${comment})
//修改${comment}状态请求体
#end
[verify:]
data MgStatus${dataName}Req:Status${dataName}Req = 1  {
}

#if(${comment})
//修改${comment}状态响应体
#end
data MgStatus${dataName}Resp:Status${dataName}Resp = 1  {
}
#end

#if (${genDel} == true)
#if(${comment})
//删除${comment}请求体
#end
[verify:]
data MgDel${dataName}Req:Del${dataName}Req = 1  {
}

#if(${comment})
//删除${comment}响应体
#end
data MgDel${dataName}Resp:Del${dataName}Resp = 1  {
}
#end

#if (${genSet} == true)
#if(${comment})
//修改${comment}请求体
#end
[verify:fields="change_fields"]
data MgSet${dataName}Req:Set${dataName}Req = 1  {
}

#if(${comment})
//修改${comment}响应体
#end
data MgSet${dataName}Resp:Set${dataName}Resp = 1  {
}
#end

#if (${genGet} == true)
#if(${comment})
//获得${comment}请求体
#end
[verify:]
data MgGet${dataName}Req:Get${dataName}Req = 1  {
}

#if(${comment})
//获得${comment}响应体
#end
data MgGet${dataName}Resp:Get${dataName}Resp = 1  {
}
#end

#if (${genAdd} == true)
#if(${comment})
//添加${comment}请求体
#end
[verify:]
data MgAdd${dataName}Req:Add${dataName}Req = 1  {
    string token = 1
}

#if(${comment})
//添加${comment}响应体
#end
data MgAdd${dataName}Resp:Add${dataName}Resp = 1  {
}
#end

#if (${genList} == true)
#if(${comment})
//获得${comment}列表请求体
#end
[verify:]
[ui:form="true"]
data MgList${dataName}Req:List${dataName}Req = 1  {
}

#if(${comment})
//获得${comment}列表响应体
#end
data MgList${dataName}Resp:List${dataName}Resp = 1  {
}
#end



