package internal

import (
	"context"
	"server/pkg/utils"
	"server/pkg/utils"
	"time"
)

func NewServer(app utils.App) ${goPackage}.${util.upperFirst(${goPackage})}Server {
	return &Server{app: app}
}

type Server struct {
	app utils.App
}


#if (${genGet} == true)
// Get${dataName} #if(${comment})获得${comment}#end
func (s *Server) Get${dataName}(ctx context.Context, req *${goPackage}.Get${dataName}Req) (*${goPackage}.Get${dataName}Resp, error) {
	info, err := ${goPackage}.${dataName}{$util.upperFirst($util.underlineToCamel($dbIndex)): &req.$util.upperFirst($util.underlineToCamel($dbIndex))}.DbGet(ctx, ${goPackage}.${dataName}FieldsByName(req.GetShowFields()...)...)
	if err != nil {
		return nil, err
	}

	return &${goPackage}.Get${dataName}Resp{Info: info}, nil
}
#end

#if (${genAdd} == true)
// Add${dataName} #if(${comment})添加${comment}#end
func (s *Server) Add${dataName}(ctx context.Context, req *${goPackage}.Add${dataName}Req) (*${goPackage}.Add${dataName}Resp, error) {
	id, err := s. ${util.lowerFirst(${util.underlineToCamel(${dbIndex})})} .NextId(ctx)
	if err != nil {
		return nil, err
	}

	req.DbClearChangeFields()
	req.Set${util.upperFirst(${util.underlineToCamel(${dbIndex})})}(id)
	req.SetCreateTime(time.Now())
	_, _, err = req.DbInsert(ctx)
	if err != nil {
		return nil, err
	}

	return &${goPackage}.Add${dataName}Resp{}, nil
}
#end

#if (${genSet} == true)
// Set${dataName} #if(${comment})修改${comment}#end
func (s *Server) Set${dataName}(ctx context.Context, req *${goPackage}.Set${dataName}Req) (*${goPackage}.Set${dataName}Resp, error) {
	changes := ${goPackage}.${dataName}FieldsByName(req.GetChangeFields()...)
	if len(changes) == 0 {
		return &${goPackage}.Set${dataName}Resp{}, nil
	}

	req.DbSetChangeFields(changes...)
	_, _, err := req.DbUpdateChange(ctx)
	if err != nil {
		return nil, err
	}

	return &${goPackage}.Set${dataName}Resp{}, nil
}
#end

#if (${genDel} == true)
// Del${dataName} #if(${comment})删除${comment}#end
func (s *Server) Del${dataName}(ctx context.Context, req *${goPackage}.Del${dataName}Req) (*${goPackage}.Del${dataName}Resp, error) {
	_, _, err := req.DbDel(ctx)
	if err != nil {
		return nil, err
	}

	return &${goPackage}.Del${dataName}Resp{}, nil
}
#end

#if (${genList} == true)
// List${dataName} #if(${comment})获得${comment}列表#end
func (s *Server) List${dataName}(ctx context.Context, req *${goPackage}.List${dataName}Req) (*${goPackage}.List${dataName}Resp, error) {
	ret := &${goPackage}.List${dataName}Resp{List: make([]${goPackage}.${dataName}, 0)}
	if req.LimitType == public.LimitTypeCountList || req.LimitType == public.LimitTypeCount {
		count, err := req.DbCount(ctx)
		if nil != err {
			return nil, err
		}
		if count == 0 {
			return ret, nil
		}
		ret.SetTotal(int32(count))
	}

	if req.LimitType == public.LimitTypeCountList || req.LimitType == public.LimitTypeList {
		utils.FieldToDbName(req.OrderDesc, ${goPackage}.${dataName}FieldsByName)
		list, err := req.DbList(ctx, ${goPackage}.${dataName}FieldsByName(req.GetShowFields()...)...)
		if nil != err {
			return nil, err
		}
		ret.SetList(list)
	}
	return ret, nil
}
#end

#if (${genStatus} == true)
// Status${dataName} #if(${comment})修改${comment}状态#end
func (s *Server) Status${dataName}(ctx context.Context, req *${goPackage}.Status${dataName}Req) (*${goPackage}.Status${dataName}Resp, error) {
	_, _, err := req.DbSet(ctx)
	if err != nil {
		return nil, err
	}

	return &${goPackage}.Status${dataName}Resp{}, nil
}
#end

#if (${genExport} == true)
// Export${dataName} #if(${comment})导出${comment}#end
func (s *Server) Export${dataName}(ctx context.Context, req *${goPackage}.Export${dataName}Req) (*${goPackage}.Export${dataName}Resp, error) {
	url, err := utils.ExportExcel[${goPackage}.${dataName}](ctx, req, "", "${dataName}", nil)
	if err != nil {
		return nil, err
	}
	return &${goPackage}.Export${dataName}Resp{Url: url}, nil
}
#end

func (s *Server) Init(ctx context.Context) {
}
